In [5]:
#Type conversion
a=12
print(type(a))
b=str(a)
print(b)
print(type(b))

<class 'int'>
12
<class 'str'>

In [6]:
#varible is a container to storage any type of data 
a=23
print(a)
b="python"
print(b)
c=90.87
print(c)
#there are three types of condition
a_b=98
print(a_b)
12=345
@=67

23
python
90.87

In [ ]:
#keyword is a predefined word for ,if ,else,pass 
#data type
int  
float
str
complex
list []
set  {}
tuple    ()
dict   {key:value}

In [13]:
d={1:'a',2:'b',1:'c'}
print(d)
s={1,2,3,4,5,4,3}
print(s)
l=[1,2,3,4,5,4,3.98,"python"]
print(l)

{1: 'c', 2: 'b'}
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5, 4, 3.98, 'python']

In [18]:
#Assignment operator  +=,-=,*=,/=,//=,%,**=
a=2
b=5
a**=b  # a=a**b
print(a)
a=14
b=3
a//=b
print(a)

32
4

In [24]:
#Membership Operator in , not in
a="string"
print( "t" in a)
print("o" not in a)
l=["a","b","c"]
print("b" not in l)

True
True
False

In [29]:
#identity operator is  is not
a=1234
b=1234
a=b
print(a)
print(b)
print(a is b)

1234
1234
True

In [1]:
#bitwise operator |,&,<<,>>,~,^
print(5|6)
print(5&6)
print(5^6)
print(5<<2)
print(~5)

7
4
3
20
-6

In [7]:
#conditional statemnet
# if
# else
n=int(input("enter the number"))
if n%2==0:
    print("even number")
else:
    print("odd number")

enter the number34
even number

In [12]:
num1=int(input("enter the value of num  "))
num2=int(input("enter the value of num  "))
if num1>num2 and num1>num3:
    print(num1,"is greater then num2")
elif num2>num1:
    print(num2,"is greater then num1 ")
elif

enter the value of num  23
enter the value of num  45
45 is greater then num1

In [ ]:
if condition:
    if condition:
        if condition:
            print()
        else:
            print()
    else:
        print()
else:
    print()

In [15]:
num=int(input("enter the number"))
if num%2==0:
    if num%6==0:
        if num%9==0:
            print("it is divisible by three number 2,6,9")
        else:
            print("it is divisible by 2,6")
    else:
        print("it is divisible by 2")
else:
    print("not divisible by 2")

enter the number36
it is divisible by three number 2,6,9

In [24]:
#for loop
for i in range(10 ,1,-2):
    print(i)

10
8
6
4
2

In [22]:
for a in range(3,13):
    print(a)

3
4
5
6
7
8
9
10
11
12

In [20]:
for j in range(20):
    print(j)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
n=int(input("enter the number"))
for i in range(1,n):
    n*=i
print(n)

In [1]:
i=100
while(i>=1):
    print(i)
    i=i-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [12]:
for i in range(5):
    for j in range(5):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
******
*****
****
***
**
*

In [ ]:
*
**
***
****
*****
****
***
**
*

In [ ]:
55555
44444
33333
22222
11111

In [ ]:
12345
1234
123
12
1

In [9]:
#nested for loop
for i in range(5):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [4]:
00000
11111
22222
33333
44444

44444

In [1]:
for i in range(5,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [2]:
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [3]:
n=int(input("enter the number"))
last=n%10
while(n>0):
    first=n%10
    n//=10
print("first number is=",first,"last number is=",last)
sum=last+first
print("sum of first and last number is=",sum)

enter the number234235
first number is= 2 last number is= 5
sum of first and last number is= 7

In [6]:
ch=input("to check whether a character is alphabet or not ")
if ch>='A' and ch<='Z':
    print("alphabet")
elif ch>='a'and ch<='z':
    print("alphabet")
else:
    print("not a character")

to check whether a character is alphabet or not W
alphabet

In [8]:
char=input("to check vowel or consonant")
if char=='a' or char=='e' or char=='i' or char=='o' or char=='u':
    print("it is a vowel")
else:
    print("consonant")

to check vowel or consonanto
it is a vowel

In [10]:
weekday=int(input("enter the weeknumber"))
if weekday==1:
    print("sunday")
elif weekday==2:
    print("monday")
elif weekday==3:
    print("tuesday")
elif weekday==4:
    print("wednesday")
elif weekday==5:
    print("thursday")
elif weekday==6:
    print("friday")
elif weekday==7:
    print("saturday")
else:
    print("correct the week number")

enter the weeknumber5
thursday

In [13]:
t=int(input("enter the number "))
for i in range(1,11):
    print(t,"*",i,"=",i*t)

enter the number 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [19]:
for indore in range(97,123):
    print(chr(indore))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [6]:
num=int(input("entre the number"))
s=0
for a in range(num):
    s+=a
print(s)

entre the number100
4950

In [2]:
#while loop
i=0
while(i<=10):
    if i%2==0:
        print(i)
    i+=1

0
2
4
6
8
10

In [13]:
num=int(input("enter the number="))
i=1
f=1
while(i<=num):
    f=f*i
    i+=1
print(f)

enter the number=5
120

In [20]:
num=int(input("enter the number="))
for i in range(1,num):
    num*=i  #num=num*i
print(num)

enter the number=5
120

In [ ]:
number=int(input("Enter any Number"))
print("Digit\tFrequency")
for i in range(0,10):
    count=0;
    temp=number;
    while temp>0:
        digit=temp%10
        if digit==i:
            count=count+1
        temp=temp//10;
    if count>0:
        print(i,"\t",count)

In [10]:
#break , continue
for i in range(10):
    if i>=3:
        break
    print(i)

0
1
2

In [12]:
for i in range(10):
    if i==3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [19]:
n=int(input())
d=0
while(n>0):
    d=d+1
    n=n//10
print(d)

76548
5

In [1]:
a=int(input())
b=int(input())
c=a
a=b
b=c
print(a)
print(b)

23
45
45
23

In [2]:
a=int(input())
b=int(input())
a,b=b,a
print(a)
print(b)

2
4
4
2

In [4]:
a=int(input())
b=int(input())
a=a+b
b=a-b
a=a-b
print(a)
print(b)

4
6
6
4

In [ ]:
1
12
123
1234
12345

In [ ]:
*
**
***
****
***
**
*

In [17]:
for i in range(65,71):
    for j in range(65,i):
        print(chr(j),end=" ")
    print()

A
AB
ABC
ABCD
ABCDE

In [ ]:
A
AB
ABC
ABCD
ABCDE

In [14]:
i=int(input("lower number"))
p=int(input("uper number"))
for num in range(i,p):
    k=num
    d=0
    while(num>0):
        d+=1
        num//=10

    j=0
    num=k
    while(num>0):
        f=num%10
        j=j+f**d
        num//=10
    if k==j:
        print(k)

lower number100
uper number500
153
370
371
407

In [12]:
for i in range(5):
    for j in range(5):
        print(j,end=" ")
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [19]:
a="234546"
print(type(a))

<class 'str'>

In [21]:
a=12345
print(type(a))
b=str(a)
print(type(b))
print(b)

<class 'int'>
<class 'str'>
12345

In [31]:
print(a)

python

In [32]:
a="python string"
print(a.capitalize())

Python string

In [27]:
print(a.upper())

PYTHON

In [28]:
print(a.lower())

python

In [51]:
a="data type "

In [52]:
print(a.title())

Data Type

In [53]:
print(len(a))

10

In [54]:
print(max(a))

y

In [33]:
n=("python","string")
v="#".join(n)
print(v)

python#string

In [30]:
print(a.upper())

PYTHON

In [2]:
a=" "
c=a.isspace()
print(c)

True

In [4]:
c="python"
print(c.isalpha())

False

In [8]:
a="string"
b="1234"
c=a+" " +b
print(c)

string 1234

In [10]:
a=12
b="age is {} "
#age is 12
print(b.format(a))

age is 12

In [18]:
a="string"
print(a[1:4:2])

ti

In [24]:
a="python"
b="string"

print(a[-1])

n

In [ ]:
n="Indore"
output
I4e

In [25]:
n=input()
print(n[0],len(n[1:-1]),n[-1])

pejdfjb
p 5 b

In [30]:
a=[1,2,3,'we',87.9,2,3]
print(a)
print(type(a))

[1, 2, 3, 'we', 87.9, 2, 3]
<class 'list'>

In [35]:
a=[12,34]
a.append(45)
print(a)

b=[1,2]
b.extend([12,34])
print(b)

[12, 34, 45]
[1, 2, 12, 34]

In [37]:
n=int(input())
a=[]
a.append(n)
print(a)

23
[23]

In [39]:
l=[]
for i in range(5):
    l.append(i)
print(l)

[0, 1, 2, 3, 4]

In [1]:
l=[1,2,3.45,56j,"string"]
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [4]:
l=[1,2,3,4,'a']
print(l.index('a'))

4

In [14]:
l=[1,2,3,2,4,5]
l.pop(0)
print(l)

[2, 3, 2, 4, 5]

In [6]:
l.remove(1)
print(l)

[2, 3, 2, 5]

In [10]:
l=[1,2,3,2,4,5]
l.pop(3)
print(l)

[1, 2, 3, 4, 5]

In [15]:
l=["he is a ", 'good boy']
a=l[0]
b=l[1]
c=str(a)+str(b)
print(c)

he is a good boy

In [17]:
l=[1,2,3,'a','b','a']
print(l.count('a'))

2

In [25]:
l=[12,223,1,2,3,55,66,433]
l.sort()
print(l)

[1, 2, 3, 12, 55, 66, 223, 433]

In [26]:
l.sort(reverse=True)
print(l)

[433, 223, 66, 55, 12, 3, 2, 1]

In [27]:
print(l[2:])

[66, 55, 12, 3, 2, 1]

In [29]:
print(l[:6:2])

[433, 66, 12]

In [1]:
#tuple
t=()
print(type(t))

<class 'tuple'>

In [4]:
t=(1,2,3,1,4)
print(t)
print(t.count(1))
print(t.index(3))

(1, 2, 3, 1, 4)
2
2

In [ ]:
t=()
(1,2,3,4,5,6,7)

In [5]:
t=()
l=list(t)
for i in range(1,8):
    l.append(i)
t=tuple(l)
print(t)

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
t=(33,2,4,5,77,11,2,3,1)

In [6]:
a=()
l=list(a)
for i in range(1,15):
    if i%2==0:
        l.append(i)
t=tuple(l)
print(t)

(2, 4, 6, 8, 10, 12, 14)

In [8]:
l=[1, 2, 3, 12, 55, 66, 223, 433]
print(l[::-1])

[433, 223, 66, 55, 12, 3, 2, 1]

In [5]:
l=[x**2 for x in range(10)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
for i in range(10):
    if i%2==0:
        print(i)

In [4]:
l=[x for x in range(100) if x%2==0]
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [ ]:
[0,1,4,9,16,25,36,49,64,81]

In [10]:
s={1,2,3,4,2,3}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4}

In [23]:
s={11,22,44,3,5,2}
s1={1,6,7,2,3}
s.pop()
print(s)
print(s.union(s1))
print(s | s1)
print(s.intersection(s1))
print(s & s1)

{3, 5, 22, 11, 44}
{1, 2, 3, 5, 6, 7, 11, 44, 22}
{1, 2, 3, 5, 6, 7, 11, 44, 22}
{3}
{3}

In [13]:
l=[11,22,44,3,5,2]
for i in l:
    print(i)

11
22
44
3
5
2

In [24]:
s={1,2,3,4,5,6}
s.remove(4)
print(s)

{1, 2, 3, 5, 6}

In [25]:
s={1,2,3,4}
s1={'a','b','c','d'}
s.update(s1)
print(s)

{1, 2, 3, 4, 'd', 'b', 'c', 'a'}

In [26]:
d={1:'a',2:'b',3:'c'}
print(d)
print(type(d))

{1: 'a', 2: 'b', 3: 'c'}
<class 'dict'>

In [3]:
d={1:'a',2:'b',3:'c',1:'e',4:'a'}
print(d)
s=d.get(3)
print(s)
d.update({22:'python'})
print(d)

{1: 'e', 2: 'b', 3: 'c', 4: 'a'}
c
{1: 'e', 2: 'b', 3: 'c', 4: 'a', 22: 'python'}

In [5]:
c={4:"d"}
d={1:"a", 2:"b", 3:"c"}
c.update(d)
print(c)

{4: 'd', 1: 'a', 2: 'b', 3: 'c'}

In [9]:
def he():
    print("hello")
he()

hello

In [18]:
def sum(a,b,c):
    return a+b+c
print(sum(12,3,45))
sum(1,2,3)

60

6

In [22]:
def count(n):
    d=0
    while(n>0):
        d=d+1
        n=n//10
    print(d)
count(65432)
count(765432)

5
6

In [23]:
count(98765432)

8

In [1]:
def sum3(n):
    s=0
    while(n>0):
        f=n%10
        s+=f
        n//=10
    print(s)
sum3(348)

15

In [2]:
def is_prime(n):
    d=0
    for i in range(2,n):
        if n%i==0:
            d+=1
            break
    if d==0:
        print("prime number")
    else:
        print("not a prime number")

In [3]:
is_prime(15)

not a prime number

In [4]:
is_prime(19)

prime number

In [ ]:
#in-built
filter,reduce,map,zip,enumerate

In [16]:
def sum(a,b):
    return a+b

In [20]:
from functools import reduce
l=[i for i in range(10)]
print(l)
print(reduce(sum,l))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
45

In [24]:
l=[1,2,3,4,5,6]
l1=[11,22,33,44,55,66]
print(list(zip(l,l1)))

[(1, 11), (2, 22), (3, 33), (4, 44), (5, 55), (6, 66)]

In [36]:
def even(n):
    if n%2==0:
        return True

In [37]:
l=[i for i in range(100)]
print(list(filter(even,l)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

NameError: name 's1' is not defined

In [1]:
n=input()
c=n.split()
print(c)

python string
['python', 'string']

In [3]:
def same_letter(n):
    word=n.split()
    return word[0][0]==word[1][0]

In [5]:
same_letter('python ptring')

True

In [9]:
l=['word','python']
print(l[0][2])
print(l[1][0])

r
p

In [10]:
def name(n):
    if len(n)>3:
        return n[:3].capitalize()+n[3:].capitalize()
    else:
        print("name is too short")
name('python')

'PytHon'

In [15]:
def name(text):
    return ' '.join(text.split()[::-1])

In [16]:
name('i am home')

'home am i'

In [17]:
l=[1,2,3,4]
print(l[::-1])

[4, 3, 2, 1]

In [18]:
def name(text):
    r=''
    for char in text:
        r+=char*3
    return r

In [20]:
name('hello0')

'hhheeellllllooo000'

In [5]:
def name(n):
    if n%2==0:
        return "even number"
    else:
        return "odd number"
l=[i for i in range(10)]
print(list(map(name,l)))

['even number', 'odd number', 'even number', 'odd number', 'even number', 'odd number', 'even number', 'odd number', 'even number', 'odd number']

In [2]:
l=[i for i in range(5,20)]
print(l)
for n in enumerate(l):
    print(n)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)
(10, 11)
(11, 12)
(12, 13)
(13, 14)
(14, 15)
(15, 16)
(16, 17)
(17, 18)
(18, 19)

In [6]:
class mobile:
    def s1(self):
        print("it is a s1 function")

In [7]:
obj=mobile()
obj.s1()

it is a s1 function

In [26]:
class phone:
    def show(self,a,b):
        print(a-b)
    def show1(self,fact):
        f=1
        for i in range(1,fact+1):
            f=f*i
        print(f)
    def show2(self,n):
        s=0
        for i in range(n):
            s+=i
        print(s)

In [28]:
obj=phone()
obj.show(23,1)
obj.show1(7)
obj.show2(10)

22
5040
45

In [17]:
class parent:
    def parent_funct(self):
        print("it is a parent class")
class child(parent):
    def child_funct(self):
        print("it is a child function")

In [18]:
obj=child()
obj.parent_funct()
obj.child_funct()

it is a parent class
it is a child function

In [19]:
#multiple inheritance
class parent:
    def parent_funct(self):
        print("it is a parent class")
class parent1:
    def parent1_funct(self):
        print("it is a parent1 function")
class child(parent,parent1):
    def child_funct(self):
        print("it is a chil function")

In [22]:
obj1=child()
obj1.parent1_funct()
obj1.child_funct()
obj1.parent_funct()

it is a parent1 function
it is a chil function
it is a parent class

In [23]:
class S:
    def s1(self):
        print("it is a S class")
class V(S):
    def v1(self):
        print("it is a V class")
class Z(V):
    def z1(self):
        print("it is a Z class")

In [24]:
c=Z()
c.s1()
c.v1()
c.z1()

it is a S class
it is a V class
it is a Z class

In [1]:
class A:
    def a(self):
        print("this is a A class")
class B:
    def b(self):
        print("this is a B class")
class C(A,B):
    def c(self):
        print("this is a C class")
class D(C):
    def d(self):
        print("this is a D class")
class E(D):
    def e(self):
        print("this is a E class ")
ob=E()
ob.e()

this is a E class

In [4]:
#polymorphism
class A:
    def a(self):
        print("this is a A class function")
class B(A):
    def a(self):
        print("this is a B class function")
        super().a()

In [5]:
ob=B()
ob.a()

this is a B class function
this is a A class function

In [23]:
#init function
class A:
    def __init__(self):
        print("this is init function")
    def view(self):
        print("this is a view function")

In [25]:
ob=A()
ob.view()

this is init function
this is a view function

In [30]:
#encapsulation
class first:
    def __init__(self):
        self.a=3
        self.b=2
    def sum(self):
        return self.a+self.b
class second(first):
    def __init__(self):
        first.__init__(self)
    def sub(self):
        return self.a-self.b

In [31]:
c=second()
c.sub()

1

In [3]:
import random as a
c=a.randrange(1,100)
k=True
d=0
while(k):
    n=int(input("guess the number"))
    d+=1
    if c>n:
        print("chose greater number")
    elif c<n:
        print("chose lesser number")
    else:
        print("correct number steps is=",d)
        k=False

guess the number56
chose greater number
guess the number80
chose greater number
guess the number95
chose greater number
guess the number100
chose lesser number
guess the number98
chose lesser number
guess the number97
correct number steps is= 6

In [25]:
import random as a
c=a.randint(1,50)
print(c)

41

In [16]:
l=[1,2,3,4]
a.shuffle(l)
print(l)

[4, 2, 3, 1]

In [18]:
a=int(input("enter the number"))
b=int(input("enter the number"))
print(a//b)

enter the number24
enter the number0

ZeroDivisionError: integer division or modulo by zero

In [20]:
try:
    a=int(input("enter the number"))
    b=int(input("enter the number"))
    print(a//b)
except ZeroDivisionError:
    print("not divisible")

enter the number45
enter the number0
not divisible

In [26]:

k=True
while(k):
    try:
        a=int(input("enter the number"))
        b=int(input("enter the number"))
        print(a//b)
        k=False
    except:
        print("please try again")
    else:
        print("completed")

enter the number45
enter the number0
please try again
enter the number67
enter the numberu
please try again
enter the number45
enter the number6
7
completed

In [1]:
#Module
import mayank
mayank.sum1(23,5)

18

In [2]:
import mayank as m
m.sum1(23,5)

18

In [6]:
#packages
from Python_Today.Prime import check_num as d
d.is_even(51)

'odd number'

In [ ]:
# regex
regular expression

In [7]:
import re
v='term'
txt="this is my first term and it will return me that my term found in it or not"
s=re.search(v,txt)

In [8]:
print(s)
print(s.start())
print(s.end())

<re.Match object; span=(17, 21), match='term'>
17
21

In [11]:
text="this is a book"
s=re.findall("i",text)
print(s)

['i', 'i']

In [19]:
# ^ start with
# $ end with
import re
v="pramod"
s=re.findall("^pramod",v)
if s:
    print("yes, this word match")
else:
    print("no match")

no match

In [17]:
print(s)

['pramod']

In [24]:
import re
text="this is a book"
s=re.split("\s",text,2)
print(s)

['this', 'is', 'a book']

In [1]:
%%writefile pro.txt
tommorow we will give test
subject python

Writing pro.txt

In [2]:
a=open("pro.txt")

In [3]:
a.read()

'tommorow we will give test\nsubject python\n'

In [4]:
a.read()

''

In [5]:
a.seek(0)

0

In [6]:
a.read()

'tommorow we will give test\nsubject python\n'

In [7]:
a.readlines()

[]

In [8]:
a.seek(0)

0

In [9]:
a.readlines()

['tommorow we will give test\n', 'subject python\n']

In [10]:
s=open('fir.txt')

In [11]:
s.read()

'this is a first file\nthis is a seccond file\n'

In [12]:
s=open('C:\\Users\\vrajp\\fir.txt')

In [13]:
s.read()

'this is a first file\nthis is a seccond file\n'

In [14]:
s.close()

In [15]:
s.read()

ValueError: I/O operation on closed file.

In [16]:
a=open("fir.txt",'a+')

In [17]:
a.write("\n this is a third file\n this is a fourth file")

45

In [18]:
a.seek(0)

0

In [19]:
a.read()

'this is a first file\nthis is a seccond file\n\n this is a third file\n this is a fourth file'

In [21]:
l=[1,2,'f']
print(type(l))
r=tuple(l)
print(type(r))

<class 'list'>
<class 'tuple'>

In [1]:
import pandas as pd 
df = pd.read_csv("C:\\Users\\vrajp\\Downloads\\archive (2)\\Ecommerce Purchases")

C:\Users\vrajp\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\vrajp\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (
C:\Users\vrajp\AppData\Local\Temp\ipykernel_4728\2110507148.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59